<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.DIRECTORY_SEPARATOR.'src')
    ->in(__DIR__.DIRECTORY_SEPARATOR.'spec')
    ->in(__DIR__.DIRECTORY_SEPARATOR.'tests')
    ->exclude('var')
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'declare_strict_types' => true,
        'binary_operator_spaces' => [
            'default' => 'align_single_space_minimal',
        ],
        'ordered_imports' => true,
        'phpdoc_order' => true,
        'class_attributes_separation' => ['elements' => ['const', 'method', 'property']],
    ])
    ->setCacheFile(__DIR__.'/vendor/.php_cs.cache')
    ->setFinder($finder)
;
