parameters:
    featureToggles:
        deadCatchesRule: true
        missingReturnRule: true
        noopRule: true
        subtractableTypes: true
        unreachableStatement: true
        yieldRules: true
        validateParameters: true
    ignoreErrors:

    symfony:
        container_xml_path: var/cache/test/AppApp_KernelTestDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php

